<h1>Example using IStringLocalizer</h1>
<h2>@TranslateLocalizer["Hello"]</h2>
<h2>@TranslateLocalizer["Parameter"]</h2>
<br/>
<h1>Example using IViewLocalizer</h1>
<h2>@LocString["Hello"]</h2>
<h2>@LocString["Parameter"]</h2>
<br/>
<h1>Example using ViewData from Controller</h1>
<h2>@ViewData["Hello"]</h2>
<h2>@ViewData["Parameter"]</h2>

<form asp-antiforgery="true" asp-controller="Home" asp-action="SetCulture">

    <select name="culture" id="culture">
        <option value="c=es-ES|uic=es-ES">ES</option>
        <option value="c=en-US|uic=en-US">EN</option>
    </select>

    <button class="btn" type="submit">Change</button>
</form>